
.feedback-main{
    margin-top: 80px;
    margin-right: 650px;
    margin-left: 50px;
    font-family: 'poppins-light';
}

.image1 {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 80%;
    margin-left: 100px;
    max-height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.headline .letter1,
.headline .letter2,
.headline .letter3,
.headline .letter4,
.headline .letter5,
.headline .letter6,
.headline .letter7,
.headline .letter8,
.headline .letter9,
.headline .letter10,
.headline .letter11 {
        font-family: 'poppins-bold';
}
    
.headline .letter1 { color: #F89423; }
.headline .letter2 { color: #F04A32; }
.headline .letter3 { color: #12959B; }
.headline .letter4 { color: #207688; }
.headline .letter5 { color: #8C4C89; }
.headline .letter6 { color: #F04A32; }
.headline .letter7 { color: #F89423; }
.headline .letter8 { color: #8C4C89; }
.headline .letter9 { color: #F04A32; }
.headline .letter10 { color: #12959B; }
.headline .letter11 { color: #12959B; }
.headline .other { font-family: 'poppins-extralight'; }
    
.headline {
    font-size: 18px;
}
  
.reviews-container {
    display: flex;
    background-color: #c3c9c9;
    
}
.reviews-container >div {
    margin: 20px;
    padding: 20px;
    background-color: #fdfdfd;
    height: 300px;
    width: 200px;   
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 10px;
    font-family: 'poppins-light';
    border-radius: 20px;

}
.reviews{
    position:relative;
    text-align: center;
    

}

  
