/* Font styles */
@font-face {
    font-family: 'poppins-reg';
    src: url('font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-semibold';
    src: url('font/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-light';
    src: url('font/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-extralight';
    src: url('font/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('font/Poppins-Bold.ttf') format('truetype');
}

/* Parent elements */
html, body {
    margin: 0;
    padding: 0;
}

.index {
    width: auto;
    height: auto; /* make it auto after cration! */
}

/* Add a black background color to the top navigation */
.navbar {
    background-color: transparent; /* Make the background color transparent */
    overflow: hidden;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between;
    padding-top: 5px; /* Add some spacing between the logo and the links */
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    transition: backdrop-filter 0.3s ease-in-out;
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    padding-top: 10px; /* Add some spacing between the logo and the links */
    padding-left: 110px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.nav-links {
    flex-grow: 1; /* Allow the navigation links to take up remaining space */
    text-align: left; /* Center-align the navigation links */
}

/* Style the links inside the navigation bar */
.navbar a {
    color: #000000;
    text-align: center;
    padding-top: 0px; /* Add some spacing between the logo and the links */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'poppins-light';
    transition: font-family 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for font family and color */
    max-width: 100px; /* Constrain the width of the links */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #04AA6D; /* Change color on hover */
}

/* Add a color to the active/current link */
.navbar a.active {
    color: #000000; /* Change color for active link */
    font-family: 'poppins-semibold'; /* Change font family for active link */
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none; /* Initially hide the hamburger menu on larger screens */
    cursor: pointer;
    padding: 10px 20px; /* Add padding to all sides */
}

/* Hamburger bar styles */
.bar {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #303030; /* Default color for the bars */
}

/* Button styles */
.btn_cart {
    margin-top: 10px; /* Add some spacing between the logo and the links */
    margin-left: 10px;
    margin-right: 110px;
    margin-bottom: 10px;
    padding: 5px 5px; /* Adjust button padding */
    background-color: #303030; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 100px; /* Apply border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for button */
}

.btn_order {
    position: absolute; /* Set position to absolute */
    bottom: 50px; /* Distance from the bottom */
    left: 50px; /* Distance from the left */
    font-family: 'poppins-reg';
    font-size: medium;
    padding: 15px 30px; /* Adjust button padding */
    color: #303030; /* Button text color */
    border: 3px solid #303030; /* Border style, color, and width */
    border-radius: 100px; /* Apply border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for button */
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
}

.btn_cart:hover {
    background-color: #037b4d; /* Button background color on hover */
}

.btn_order:hover {
    background-color: #303030; /* Button background color on hover */
    color: white;
}

/* function for blurry navbar */
.navbar.scrolled {
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.first {
    position: relative;
    height: auto;
    background-color: transparent;
    width: 100%;
    overflow: hidden;
    font-family: 'poppins-light';
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.carde {
    margin: 10px; /* Horizontally center the card */
    padding: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center; /* Vertically center the content */
}

.carde img {
    height: 100px;
    width: 100px; 
    margin-right: 10px; /* Add some space between image and text */
}

.carde-one, 
.carde-two {
    display: flex;
}

.third-image {
    width: 100%; /* Adjusted */
    height: auto; /* Adjusted */
    object-fit: contain; 
}

.carde h2,
.carde p {
    margin: 0; /* Remove default margins */
}

.third-h2 {
    font-family: 'poppins-light';
    font-size: 20px;
}

.third-p2 {
    font-family: 'poppins-extralight';
    font-size: 13px;
}

.second-en {
    flex-direction: column; 
    text-align: left;
}

.brand-one {
    margin-top: 65px;
    text-align: left;
    z-index: 1000;
}

.brand-two {
    background-color: #F2F2F2;
    margin-top: 10px;
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.brand-one a {
    font-size: small;
    color: black;
    margin-right: 0px;
    text-decoration: none;
}

.border {
    padding-left: 5px;
    padding-right: 5px;
}

.raw {
    padding-left: 20px;
}

.brand-details {
    background-color: #FAFAFA;
    height:100%;
    width: auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    position: absolute; /* Set position to absolute */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
}

.info-one {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    padding-left: 10px;
    width: auto;
    border-bottom: 1px solid #f2f2f2;
}

.info-one h1 {
    font-size: small;
    left: 10px;
}

.info-one ul {
    font-size: 10px;
    padding-left: 0px;
    padding-right: 10px;
    list-style-type: none; /* Remove default bullets */
}

.info-one ul li {
    position: relative;
    padding-left: 20px; /* Add padding for the checkmark */
}

.del::before {
    content: '\2713'; /* Unicode character for checkmark */
    position: absolute;
    left: 0px;
}

.led::before {
    content: '\2022'; /* Unicode character for bullet */
    position: absolute;
    left: 0px;
}

.text {
    width: 100%;
}

.text li {
    display: flex;
    justify-content: space-between;
}

.text li span:first-child {
    margin-right: auto;
}

.text li span:last-child {
    margin-left: auto;
}

.info-one h1 {
    display: flex;
    justify-content: space-between;
}

.info-one h1 span:first-child {
    margin-right: auto;
}

.info-one h1 span:last-child {
    margin-left: auto;
    margin-right: 10px;
}

.info-two {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.photodisplay {
    margin-left: 20px;
    height: auto;
    width: 410px;
}

.main {
    height: 300px;
    width: 100%;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    margin: 0 auto; /* Horizontally center the container */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}

.slides {
    position: relative;
    margin-top: 10px;
    height: auto; /* Adjust the height as per your design */
    width: 100%;
    white-space: nowrap; /* Ensure all thumbnails stay on the same line */
    overflow-x: auto; /* Enable horizontal scrolling */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Edge */
}

.slides::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}

.thumbnail {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin-right: 5px; /* Add some space between thumbnails */
    height: 110px; /* Ensure thumbnails take full height of the container */
    object-fit: cover; /* Ensure thumbnails cover the container */
}

.card-info {
    position: relative;
    margin-left: 20px;
    height: 90%;
    width: 410px;
}

.cart {
    position: absolute; /* Set position to absolute */
    bottom: 10px; /* Distance from bottom */
    left: 10px; /* Distance from left */
    font-family: 'poppins-reg';
    padding: 7px 13px; /* Adjust button padding */
    background-color: #303030; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 100px; /* Apply border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for button */
}

.cart:hover {
    background-color: #037b4d; /* Button background color on hover */
}

.fifth {
    font-family: 'poppins-extralight';
    position: relative;
    height: auto;
    background-color: transparent; /* Example background color */
    width: 100%; /* Cover the entire width of the screen */
    overflow: hidden;
}

.related {
    height: 100%;
    width: 100%;
}

.related-d {
    display: flex;
    flex-direction: row; /* Change to row layout */
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    justify-content: center; /* Center align the cards */
    padding-bottom: 25px;
}

.prod-h2-c {
    font-family: 'poppins-extralight';
    padding-left: 30px;
    padding-top: 10px;
    font-size: 23px;
}

.cards-d {
    min-width: 250px;
    min-height: 400px;
    background-color: aliceblue;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); /* Add shadow */
}

/* Popup Container Styles */
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; /* Set fixed height of 1000px */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 1000;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.3s ease-in-out; /* Smooth transition effect */
}

.popup-container.show {
    display: flex;
    opacity: 1; /* Set opacity to 1 when the popup is shown */
}

.white-window {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 70%;
    background-color: white;
    overflow-y: auto; /* Enable vertical scrolling */
}

.order-title {
    position: absolute;
    top: 25%;
    width: 100%;
    height: auto;
    font-family: 'poppins-reg';
}

.close-popup {
    position: absolute;
    right: 10px;
    font-size: 20px;
    font-family: 'poppins-reg';
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.order-details {
    font-size: 20px; 
    position: absolute;
    left: 10px;
    color: white;
}

.popup {
    position: relative;
    height: auto;
    background-color: transparent;
    width: 100%;
    overflow: hidden;
}

.window {
    height: auto;
    width: 100%;
}

.p-size {
    height: auto;
    width: 100%;
}

.white-window h2 {
    font-family: 'poppins-extralight';
    font-size:15px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.p-image {
    margin-left: 5px; 
    height: 150px; 
    object-fit: cover;
    cursor: pointer; /* Add cursor pointer for better UX */
}

.p-image.zoomed {
    transform: scale(1.2); /* Adjust the scale value for desired zoom level */
    transition: transform 0.3s ease; /* Add smooth transition */
}

.lab {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align items horizontally */
}

.p-material {
    height: auto;
    width: 100%;
    margin-top: 5px;
}

.p-material label {
    font-family: 'poppins-extralight';
    font-size: small;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.p-quantity {
    height: auto;
    width: 100%;
    margin-top: 5px;
}

.p-quantity label {
    display: flex;
    justify-content: space-between;
    font-family: 'poppins-extralight';
    font-size: small;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.p-quantity label span:first-child {
    margin-right: 15px;
}

.p-quantity label span:last-child {
    margin-left: auto;
}

.p-upload {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 13px;
}

.upload-one {
    height: auto;
    width: 100%;
}

.upload-two {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.click-upload {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.u-one {
    height: auto;
    width: auto;
}

.u-image {
    margin-left: 5px; 
    height: 80px; 
    object-fit: cover;
    cursor: pointer;
}

.u-one h2 {
    margin-left: 5px;
    margin-bottom: -15px;
    font-size: 18px;
    font-family: 'poppins-light';
}

.u-one p {
    margin-left: 5px;
    font-size: 12px;
    font-family: 'poppins-reg';
}

.u-one p span {
    color: #0070C0;
}

.upload-two label {
    font-family: 'poppins-extralight';
    font-size: small;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.view {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.view-one {
    background-color: #F2F2F2;
    height: 100%;
    width: 30%;
}

.view-two {
    background-color: #FAFAFA;
    height: 100%;
    width: 70%;
}

.checkout {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.checkone {
    height: 500px;
    width: 100%;
}

.checktwo {
    height: auto;
    width: auto;
    right: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-right: 20px;
    align-self: flex-end;
}

.but {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;

}

.but p {
    font-family: 'poppins-light';
    font-size: x-small;
    text-align: right;
}

.but p span {
    color: #0070C0;
}

.bottom {
    margin-left: 10px;
    height: 35px;
    width: 210px;
    font-family: 'poppins-reg';
    padding: 7px 13px; /* Adjust button padding */
    background-color: #303030; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 100px; /* Apply border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for button */
}

.bottom:hover {
    background-color: #037b4d; /* Button background color on hover */
}

.quest {
    background-color: transparent;
    text-decoration: none;
    color: black;
}












































/* Sixth section styles */
.sixth {
    font-family: 'poppins-extralight';
    position: relative;
    height: auto;
    background-color: transparent; /* Example background color */
    width: 100%; /* Cover the entire width of the screen */
    overflow: hidden;
}

/* Sixth content styles */
.sixth-content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

/* Footer section styles */
.footer {
    font-family: 'poppins-extralight';
    height: 250px;
    background-color: #1E1E1E; /* Example background color */
    width: 100%; /* Cover the entire width of the screen */
    overflow: hidden;
}

/* Footer content styles */
.footer-content {
    padding: 20px;
    text-align: justify;
}

.footer img {
    height: 50px;
    width: auto; 
}

.footer-logo {
    width: 100%; /* Adjusted */
    height: auto; /* Adjusted */
    object-fit: contain; 
}

.soc-links a,
.soc-contacts a {
    color: white;
    text-decoration: none;
    display: block; /* Change display to block */
}

.soc-links,
.soc-contacts {
    display: flex; /* Use flexbox for inner containers */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the start */
    font-family: 'poppins-reg';
    font-size: small;
    margin-top: 10px;
    margin-left: 10px;
}

.row {
    display: flex; /* Use flexbox for inner containers */
    flex-direction: row; /* Arrange items vertically */
    width: 100%;
}

.patent {
    font-size: x-small;
    color: white;
    display: flex;
    justify-content: center;
}

