/* Font styles */
@font-face {
    font-family: 'poppins-reg';
    src: url('font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-semibold';
    src: url('font/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-light';
    src: url('font/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-extralight';
    src: url('font/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('font/Poppins-Bold.ttf') format('truetype');
}

/* Parent elements */
html, body {
    margin: 0;
    padding: 0;
}

.index {
    width: auto;
    height: auto; /* make it auto after cration! */
}

/* Add a black background color to the top navigation */
.navbar {
    background-color: transparent; /* Make the background color transparent */
    overflow: hidden;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between;
    padding-top: 5px; /* Add some spacing between the logo and the links */
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    transition: backdrop-filter 0.3s ease-in-out;
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    padding-top: 10px; /* Add some spacing between the logo and the links */
    padding-left: 110px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.nav-links {
    flex-grow: 1; /* Allow the navigation links to take up remaining space */
    text-align: left; /* Center-align the navigation links */
}

/* Style the links inside the navigation bar */
.navbar a {
    color: #000000;
    text-align: center;
    padding-top: 0px; /* Add some spacing between the logo and the links */
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'poppins-light';
    transition: font-family 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for font family and color */
    max-width: 100px; /* Constrain the width of the links */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #04AA6D; /* Change color on hover */
}

/* Add a color to the active/current link */
.navbar a.active {
    color: #000000; /* Change color for active link */
    font-family: 'poppins-semibold'; /* Change font family for active link */
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none; /* Initially hide the hamburger menu on larger screens */
    cursor: pointer;
    padding: 10px 20px; /* Add padding to all sides */
}

/* Hamburger bar styles */
.bar {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #303030; /* Default color for the bars */
}

/* Button styles */
.btn_cart {
    margin-top: 10px; /* Add some spacing between the logo and the links */
    margin-left: 10px;
    margin-right: 110px;
    margin-bottom: 10px;
    padding: 5px 5px; /* Adjust button padding */
    background-color: #303030; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 100px; /* Apply border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for button */
}

.btn_order {
    position: absolute; /* Set position to absolute */
    bottom: 50px; /* Distance from the bottom */
    left: 50px; /* Distance from the left */
    font-family: 'poppins-reg';
    font-size: medium;
    padding: 15px 30px; /* Adjust button padding */
    color: #303030; /* Button text color */
    border: 3px solid #303030; /* Border style, color, and width */
    border-radius: 100px; /* Apply border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for button */
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
}

.btn_cart:hover {
    background-color: #037b4d; /* Button background color on hover */
}

.btn_order:hover {
    background-color: #303030; /* Button background color on hover */
    color: white;
}

/* function for blurry navbar */
.navbar.scrolled {
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.first {
    position: relative;
    height: auto;
    background-color: transparent;
    width: 100%;
    overflow: hidden;
    font-family: 'poppins-light';
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.first-one {
    margin-top: 65px;
    text-align: center;
    z-index: 1000;
}

.first-one a {
    font-size: small;
    color: black;
    margin-right: 10px;
    text-decoration: none;
}

.first-two {
    background-color: #F2F2F2;
    margin-top: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.content-one {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.card {
    margin: 0px auto; /* Horizontally center the card */
    padding: 10px;
    padding-top: 0px;
    background-color: transparent;
    width: 50%;
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
}

.second-image {
    width: 100%; /* Adjusted */
    height: auto; /* Adjusted */
    object-fit: contain;
}

.second-h1 {
    font-size: medium;
    margin-top: 0; 
}

.second-p {
    font-size: small;
    margin-top: 0; 
    text-align: justify;
}

.new-h2 {
   padding-top: 0px;
   padding-left: 30px;
   font-weight: 300;
   font-size: x-large;
}

.photolinks a.active {
    color: #000000; /* Change color for active link */
    font-family: 'poppins-semibold'; /* Change font family for active link */
}

.prod-h2 {
    font-weight: 300;
    margin-top: -10px;
    padding-left: 30px;
    font-size: x-large;
}
.prod-h2-c {
    font-weight: 300;
    padding-left: 30px;
    font-size: x-large;
}

.photocards-d {
    display: flex;
    flex-direction: row; /* Change to row layout */
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    justify-content: center; /* Center align the cards */
    padding-bottom: 25px;
}

.cards-d {
    min-width: 250px;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.cards-d-p {
    min-width: 250px;
    min-height: 400px;
    background-color: #fffbea;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.cards-d-l {
    min-width: 250px;
    min-height: 400px;
    background-color: #eaf5ff;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.cards-d-b {
    min-width: 250px;
    min-height: 400px;
    background-color: #ffeaea;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); /* Add shadow */
}

/* Add transition for opacity and height */
.features-products-d,
.all-products-d,
.photo-products-d,
.labels-products-d,
.business-products-d {
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

/* Show the element when its opacity is 1 */
.features-products-d.show,
.all-products-d.show,
.photo-products-d.show,
.labels-products-d.show,
.business-products-d.show {
    opacity: 1;
    height: auto;
}

.photolinks a.active {
    font-weight: bold;
}

.photolinks a {
    transition: font-weight 0.3s ease-in-out; /* Smooth transition for font weight */
}

/* Second section styles */
.second {
    font-family: 'poppins-extralight';
    position: relative;
    margin-top: 10px;
    background-color: transparent; /* Example background color */
    width: 100%; /* Cover the entire width of the screen */
    overflow: hidden; /* Ensure the image doesn't overflow the hero section */
}

.third-p {
    margin-top: 0;
    font-size: small;
    text-align: justify;
}

.carde {
    margin: 10px; /* Horizontally center the card */
    padding: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center; /* Vertically center the content */
}

.carde img {
    height: 100px;
    width: 100px; 
    margin-right: 10px; /* Add some space between image and text */
}

.carde-one, 
.carde-two {
    display: flex;
}

.third-image {
    width: 100%; /* Adjusted */
    height: auto; /* Adjusted */
    object-fit: contain; 
}

.carde h2,
.carde p {
    margin: 0; /* Remove default margins */
}

.third-h2 {
    font-family: 'poppins-light';
    font-size: 20px;
}

.third-p2 {
    font-family: 'poppins-extralight';
    font-size: 13px;
}

.second-en {
    flex-direction: column; 
    text-align: left;
}










































/* Sixth section styles */
.sixth {
    font-family: 'poppins-extralight';
    position: relative;
    height: auto;
    background-color: transparent; /* Example background color */
    width: 100%; /* Cover the entire width of the screen */
    overflow: hidden;
}

/* Sixth content styles */
.sixth-content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

/* Footer section styles */
.footer {
    font-family: 'poppins-extralight';
    height: 250px;
    background-color: #1E1E1E; /* Example background color */
    width: 100%; /* Cover the entire width of the screen */
    overflow: hidden;
}

/* Footer content styles */
.footer-content {
    padding: 20px;
    text-align: justify;
}

.footer img {
    height: 50px;
    width: auto; 
}

.footer-logo {
    width: 100%; /* Adjusted */
    height: auto; /* Adjusted */
    object-fit: contain; 
}

.soc-links a,
.soc-contacts a {
    color: white;
    text-decoration: none;
    display: block; /* Change display to block */
}

.soc-links,
.soc-contacts {
    display: flex; /* Use flexbox for inner containers */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the start */
    font-family: 'poppins-reg';
    font-size: small;
    margin-top: 10px;
    margin-left: 10px;
}

.row {
    display: flex; /* Use flexbox for inner containers */
    flex-direction: row; /* Arrange items vertically */
    width: 100%;
}

.patent {
    font-size: x-small;
    color: white;
    display: flex;
    justify-content: center;
}