h2{
    margin-top: 80px;
   text-align: center;
    font-family: 'poppins-light';   
}

.info{

   
    background-color: #eaf5ff;
    height: 400px;
    width: auto;  
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: 'poppins-light';

}