
    /*Shipping Information Section */
#si{
    margin-top: 80px;
    text-align: center;
    font-family: 'poppins-light';   
}

.info{ 
    background-color: #eaf5ff;
    height: 400px;
    width: auto;  
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'poppins-light';

}

    /* Purchased Section */
.purchased{
    background-color: #fbfbfc;
    height: auto;
    width: auto;  
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: 'poppins-light';

}

#pi{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    text-align:left;
    font-family: 'poppins-light';   
}

.purchased-items {
    display:list-item;
    
}

.purchased-items > div{
    padding: 20px;
    background-color: #fdfbfb;
    border: solid rgb(133, 130, 130);
    height: 60px;
    width: 100px;   
    margin-bottom: 60px;
    margin-left: 80px;
    margin-top: 0px;
    padding-bottom: 10px;
    font-family: 'poppins-light';
    border-radius: 0px;
    

}

span.item-name{

    margin-left: 200px;
    text-wrap: balance;
    position: absolute;
    color:black;

}

    /* Input information Section */
.input-info {

    background-color:rgb(216, 208, 208);
    height: auto;
    width: auto;  
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'poppins-light';
}

input[type=text], [type=email],[type=number], select {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 40px;
    resize: vertical;
  }

  label{
    width: 0%;
    padding: 12px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 40px;
    resize: vertical;
    
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-left: 40px;
    margin-bottom: 40px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .col{
    margin-top: 6px;
    margin-left: 100px;
  }
  
 


