/* If screen reaches 768px */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Hide the navigation links on smaller screens */
    }

    .hamburger-menu {
        display: block; /* Display the hamburger menu icon on smaller screens */
    }

    .logo {
        width: 100px; /* Adjust the width as needed */
        height: auto; /* Automatically adjust height to maintain aspect ratio */
        padding-top: 10px; /* Add some spacing between the logo and the links */
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .btn_cart {
        margin-top: 5px; /* Add some spacing between the logo and the links */
        margin-left: 5px;
        margin-right: -5px;
        margin-bottom: 5px;
        padding: 5px 5px; /* Adjust button padding */
        background-color: #303030; /* Button background color */
        color: white; /* Button text color */
        border: none; /* Remove button border */
        border-radius: 100px; /* Apply border radius */
        cursor: pointer; /* Change cursor to pointer on hover */
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for button */
        margin-left: auto; /* Align button to the right */
    }

    .content-one {
        flex-direction: column; /* Change flex direction to stack cards vertically */
        align-items: center; /* Center-align items */
    }

    .card {
        width: 90%;
         height: auto;
    }

    .headline {
        font-size:xx-large;
    }

    .btn_order {
        position: absolute; /* Set position to absolute */
        bottom: 50px; /* Distance from the bottom */
        left: 50px; /* Distance from the left */
        font-family: 'poppins-reg';
        font-size: medium;
        padding: 10px 20px; /* Adjust button padding */
        color: #303030; /* Button text color */
        border: 3px solid #303030; /* Border style, color, and width */
        border-radius: 100px; /* Apply border radius */
        cursor: pointer; /* Change cursor to pointer on hover */
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for button */
        background-color: rgba(255, 255, 255, 0); /* Transparent background */
    }

    .carde-one,
    .carde-two {
        flex-direction: column;
        align-items: center;
    }
}

/* If screen reaches 600px */
@media screen and (max-width: 600px) { 
    .headline {
        font-size: x-large;
    }

    .hero-content {
        padding: 25px;
        text-align: left;
        margin-top: 35px;
    }

    .btn_order {
        font-family: 'poppins-reg';
        font-size: small;
        padding: 10px 20px; /* Adjust button padding */
        color: #303030; /* Button text color */
        border: 3px solid #303030; /* Border style, color, and width */
        border-radius: 100px; /* Apply border radius */
        cursor: pointer; /* Change cursor to pointer on hover */
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for button */
        background-color: rgba(255, 255, 255, 0); /* Transparent background */
    }

    .thirdy-two {
        color: white;
        font-size: small;
    }
}

